.graph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph .edge {
  stroke: #666;
  fill: none;
}

.graph .edge .edge-label {
  stroke: none;
  font-size: 12px;
  fill: #666;
}

.graph .panning-rect {
  fill: transparent;
  cursor: move;
}

.graph .node-group .node:focus {
  outline: none;
}

.graph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph .edge {
  stroke: #666;
  fill: none;
}

.graph .edge .edge-label {
  stroke: none;
  font-size: 12px;
  fill: #666;
}

.graph .panning-rect {
  fill: transparent;
  cursor: move;
}

.graph .node-group .node:focus {
  outline: none;
}

.edge {
  path {
    stroke: #666 !important;
  }
}

.ngx-charts-outer {
  display: table !important;
}

.ngx-charts {
  float: left !important;
  position: relative !important;
  display: table-footer-group !important;
}

.chart-legend {
  float: right !important;
  display: table-header-group !important;
}

.text {
  color: red;
}
