<div class="row">
  <div class="col-sm-12 nav-bar-wrapper">
    <div class="row">
      <div class="col-md-2">
        <span class="h5"></span>
      </div>
      <div class="col-xs-10 col-md-2 form-group">
        <p class="calendar-label">To</p>
        <input type="text" placeholder="Datepicker" [bsValue]="to_date" [(ngModel)]="to_date" class="form-control" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
          bsDatepicker>
      </div>
      <div class="col-xs-10 col-md-2 form-group">
        <timepicker [(ngModel)]="to_time"></timepicker>
      </div>
      <div class="col-xs-10 col-md-2 form-group">
        <p class="calendar-label">From</p>
        <input type="text" placeholder="Datepicker" [bsValue]="from_date" [(ngModel)]="from_date" class="form-control" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
          bsDatepicker>
      </div>
      <div class="col-xs-10 col-md-2 form-group">
        <timepicker [(ngModel)]="from_time"></timepicker>
      </div>
    </div>

  </div>
</div>
<div class="container workflow-wrapper">
  <app-request-map></app-request-map>
  <div id="panel-group">
    <div class="panel panel-default" *ngFor="let workflow of workflow_list; let i = index">
      <div class="panel-heading cursor-pointer" (click)="goToDetails($event, workflow.id,workflow.workflowName)">
        <h5 class="panel-title">
          <!-- <i class='glyphicon' [class.glyphicon-chevron-right]="i != current" [class.glyphicon-chevron-down]="i == current"></i> -->
          <span [innerText]="workflow.workflowName"></span>
          <span class="pull-right">
            <button type="button" class="btn btn-xs btn-primary" (click)="goToDetails($event, workflow.id,workflow.workflowName)">View Details</button>
          </span>
        </h5>
      </div>
      <!-- <div id="collapse1" class="panel-collapse" [class.collapse]='current != i'>
        <div class="panel-body">
          <div *ngFor="let module of workflow.modules">
            <p [innerText]="'- ' + module"></p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
